h1 {
    color: #ffffff;
    font-family: garamond;
    font-style: oblique 30deg;
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 0px; 
}

h2 {
    color: #006c74;
    font-family: garamond;
    font-style: oblique 30deg;
    font-weight: bolder;
}

h2 a {
    color: #006c74;
    font-family: garamond;
    font-style: oblique 30deg;
    font-weight: bolder;
}

.posttitle {
    background-color: #006c74;
    text-align: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post  {
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.date {
    font-size: smaller;
    padding-top: 0px;
    padding-bottom: 0px;
}

input, textarea {
    border: 2px solid #006c74;
    background-color: lightgoldenrodyellow;
    -webkit-border-radius: 5px;
    color: #006c74;
}

table, tr, td {
    background-color: lightgoldenrodyellow; 
    color: #006c74;
    padding: 10px;
}

    /* default button */
    .btn-default {
        background-color: #FFF;
        color: #003438;
        border-color: #adadad;
        border-radius: 25px;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active    {
        background-color: #ebebeb;
        color: #006c74;
        border-color: #adadad;
    }
